<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-title-large">Detalhes do Usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-medium">Nome: </span><span class="mat-title-small">{{ user.nome }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-medium">Email: </span><span class="mat-title-small">{{ user.email }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-medium">Telefone: </span><span class="mat-title-small">{{ user.telefone }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-medium">Endereço: </span><span class="mat-title-small">{{ user.endereco?.rua }}, {{ user.endereco?.numero }}, {{ user.endereco?.cidade }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-medium">Ativo: </span><span class="mat-title-small">{{ user.ativo }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-medium">Função: </span><span class="mat-title-small">{{ user.funcao }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-medium">Data de Cadastro: </span><span class="mat-title-small">{{ user.dataCadastro }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
