<div class="container">
  <div class="container__left">
    <div class="top-div">
      <!-- Content of the top div -->
       <app-filter></app-filter>
    </div>
    <div class="main-left-div">
      <!-- Content of the left div (80% height) -->
       <app-users-list (userSelected)="onUserSelected($event)"></app-users-list>
    </div>
  </div>
  <div class="right-div">
    <!-- Content of the right div -->
     <app-user-details [user]="userSelected" *ngIf="showUserDetails"></app-user-details>
  </div>
</div>
<router-outlet />
